# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables / secrets
.env

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
